
// 文本默认颜色
$textDefaultColor: #555;
// body背景色
$bodyDefaultBackgroundColor: #eee;
// 链接默认颜色
$linkDefaultColor: #369;
// 链接默认hover颜色
$linkDefaultHoverColor: #f66;

// 高亮颜色
$highColor: #f66;
// 高亮色相对的深色
$highColorBlack: #f33;

$redColor: #f00;
$greenColor: #10c55b;
$iColor: #576DC7;
$tColor: #2B4782;
$zbpColor: #3a6ea5;
